<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCP-wZ3zcTmgSYlznApf9dDxrTan340hFM</string>
	<key>GCM_SENDER_ID</key>
	<string>919169528300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.tdmns.kemsu</string>
	<key>PROJECT_ID</key>
	<string>kemsuapp-eac7a</string>
	<key>STORAGE_BUCKET</key>
	<string>kemsuapp-eac7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919169528300:ios:db891d00247eb8b1a4d0c9</string>
</dict>
</plist>